In [1]:
import pandas as pd

In [2]:
#Que1
data=[4,8,15,16,23,42]

In [3]:
series=pd.Series(data)

In [4]:
series

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [5]:
#Que2
variable_lst=['a','b','c','d','e','f','g','h','i','j']
srs=pd.Series(variable_lst)

In [6]:
srs

0    a
1    b
2    c
3    d
4    e
5    f
6    g
7    h
8    i
9    j
dtype: object

In [9]:
#Que3
data={
    'Name':['Alice','Bob','Claire'],
    'Age':[25,30,27],
    'Gender':['Female','Male','Female']
}

In [10]:
df=pd.DataFrame(data)

In [11]:
df

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [14]:
#Que4
'''DataFrame is a two-dimensional tabular data structure consisting of rows and columns, similar to a spreadsheet or a SQL table. It is a collection of Pandas Series that can be thought of as a dictionary of Series objects.
Series is a one-dimensional labeled array capable of holding data of any type, such as integers, floats, strings, and so on. It is similar to a column in a spreadsheet or a SQL table.
The main difference is that 'Series' contains only one column of data, whereas 'DataFrame' can have multiple columns.'''

"DataFrame is a two-dimensional tabular data structure consisting of rows and columns, similar to a spreadsheet or a SQL table. It is a collection of Pandas Series that can be thought of as a dictionary of Series objects.\nSeries is a one-dimensional labeled array capable of holding data of any type, such as integers, floats, strings, and so on. It is similar to a column in a spreadsheet or a SQL table.\nThe main difference is that 'Series' contains only one column of data, whereas 'DataFrame' can have multiple columns."

In [15]:
# example:

# create a Series obj
my_series = pd.Series([1, 2, 3, 4])

# Create a DataFrame obj
my_df = pd.DataFrame({'Name': ['John', 'Emily', 'Tom'],
                      'Age': [25, 30, 35]})

In [16]:
# Display the Series object
my_series

0    1
1    2
2    3
3    4
dtype: int64

In [17]:
# Display the DataFrame object
my_df

    Name  Age
0   John   25
1  Emily   30
2    Tom   35

In [18]:
#Que5
#Pandas DataFrame provides a wide range of functions to manipulate data. Some of the commonly used functions are:

In [22]:
df=pd.read_csv("services.csv")

In [23]:
#head() and tail(): These functions are used to display the first few and last few rows of the DataFrame respectively.

In [24]:
df.head()

,id,location_id,program_id,accepted_payments,alternate_name,application_process,audience,description,eligibility,email,...,interpretation_services,keywords,languages,name,required_documents,service_areas,status,wait_time,website,taxonomy_ids
0,1,1,NaN,NaN,NaN,Walk in or apply by phone.,"Older adults age 55 or over, ethnic minorities...",A walk-in center for older adults that provide...,"Age 55 or over for most programs, age 60 or ov...",NaN,...,NaN,"ADULT PROTECTION AND CARE SERVICES, Meal Sites...",NaN,Fair Oaks Adult Activity Center,NaN,Colma,active,No wait.,NaN,NaN
1,2,2,NaN,NaN,NaN,Apply by phone for an appointment.,Residents of San Mateo County age 55 or over,Provides training and job placement to eligibl...,"Age 55 or over, county resident and willing an...",NaN,...,NaN,"EMPLOYMENT/TRAINING SERVICES, Job Development,...",NaN,Second Career Employment Program,NaN,San Mateo County,active,Varies.,NaN,NaN
2,3,3,NaN,NaN,NaN,Phone for information (403-4300 Ext. 4322).,Older adults age 55 or over who can benefit fr...,Offers supportive counseling services to San M...,Resident of San Mateo County age 55 or over,NaN,...,NaN,"Geriatric Counseling, Older Adults, Gay, Lesbi...",NaN,Senior Peer Counseling,NaN,San Mateo County,active,Varies.,NaN,NaN
3,4,4,NaN,NaN,NaN,Apply by phone.,"Parents, children, families with problems of c...",Provides supervised visitation services and a ...,None,NaN,...,NaN,"INDIVIDUAL AND FAMILY DEVELOPMENT SERVICES, Gr...",NaN,Family Visitation Center,NaN,San Mateo County,active,No wait.,NaN,NaN
4,5,5,NaN,NaN,NaN,Phone for information.,Low-income working families with children tran...,Provides fixed 8% short term loans to eligible...,Eligibility: Low-income family with legal cust...,NaN,...,NaN,"COMMUNITY SERVICES, Speakers, Automobile Loans",NaN,Economic Self-Sufficiency Program,NaN,San Mateo County,active,NaN,NaN,NaN

In [25]:
df.describe()

             id  location_id  program_id
count  23.00000    23.000000         0.0
mean   12.00000    11.956522         NaN
std     6.78233     6.711444         NaN
min     1.00000     1.000000         NaN
25%     6.50000     6.500000         NaN
50%    12.00000    12.000000         NaN
75%    17.50000    17.500000         NaN
max    23.00000    22.000000         NaN

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23 entries, 0 to 22
Data columns (total 22 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   id                       23 non-null     int64
 1   location_id              23 non-null     int64
 2   program_id               0 non-null      float64
 3   accepted_payments        1 non-null      object
 4   alternate_name           1 non-null      object
 5   application_process      23 non-null     object
 6   audience                 14 non-null     object
 7   description              23 non-null     object
 8   eligibility              21 non-null     object
 9   email                    1 non-null      object
 10  fees                     21 non-null     object
 11  funding_sources          21 non-null     object
 12  interpretation_services  1 non-null      object
 13  keywords                 21 non-null     object
 14  languages                1 non-null      object
 15  name                     23 non-null     object
 16  required_documents       1 non-null      object
 17  service_areas            21 non-null     object
 18  status                   23 non-null     object
 19  wait_time                19 non-null     object
 20  website                  2 non-null      object
 21  taxonomy_ids             1 non-null      object
dtypes: float64(1), int64(2), object(19)
memory usage: 4.1+ KB

In [27]:
df.loc[3]  # displays the row with index label 3

id                                                                         4
location_id                                                                4
program_id                                                               NaN
accepted_payments                                                        NaN
alternate_name                                                           NaN
application_process                                          Apply by phone.
audience                   Parents, children, families with problems of c...
description                Provides supervised visitation services and a ...
eligibility                                                             None
email                                                                    NaN
fees                       Vary according to income ($5-$90). Cash, check...
funding_sources                                    County, Donations, Grants
interpretation_services                                                  NaN
keywords                   INDIVIDUAL AND FAMILY DEVELOPMENT SERVICES, Gr...
languages                                                                NaN
name                                                Family Visitation Center
required_documents                                                       NaN
service_areas                                               San Mateo County
status                                                                active
wait_time                                                           No wait.
website                                                                  NaN
taxonomy_ids                                                             NaN
Name: 3, dtype: object

In [28]:
df.iloc[3] # displays the row with integer position 3

id                                                                         4
location_id                                                                4
program_id                                                               NaN
accepted_payments                                                        NaN
alternate_name                                                           NaN
application_process                                          Apply by phone.
audience                   Parents, children, families with problems of c...
description                Provides supervised visitation services and a ...
eligibility                                                             None
email                                                                    NaN
fees                       Vary according to income ($5-$90). Cash, check...
funding_sources                                    County, Donations, Grants
interpretation_services                                                  NaN
keywords                   INDIVIDUAL AND FAMILY DEVELOPMENT SERVICES, Gr...
languages                                                                NaN
name                                                Family Visitation Center
required_documents                                                       NaN
service_areas                                               San Mateo County
status                                                                active
wait_time                                                           No wait.
website                                                                  NaN
taxonomy_ids                                                             NaN
Name: 3, dtype: object

In [29]:
df = df.drop(['program_id'], axis=1) # drop columns

In [30]:
df.head()

,id,location_id,accepted_payments,alternate_name,application_process,audience,description,eligibility,email,fees,...,interpretation_services,keywords,languages,name,required_documents,service_areas,status,wait_time,website,taxonomy_ids
0,1,1,NaN,NaN,Walk in or apply by phone.,"Older adults age 55 or over, ethnic minorities...",A walk-in center for older adults that provide...,"Age 55 or over for most programs, age 60 or ov...",NaN,$2.50 suggested donation for lunch for age 60 ...,...,NaN,"ADULT PROTECTION AND CARE SERVICES, Meal Sites...",NaN,Fair Oaks Adult Activity Center,NaN,Colma,active,No wait.,NaN,NaN
1,2,2,NaN,NaN,Apply by phone for an appointment.,Residents of San Mateo County age 55 or over,Provides training and job placement to eligibl...,"Age 55 or over, county resident and willing an...",NaN,None. Donations requested of clients who can a...,...,NaN,"EMPLOYMENT/TRAINING SERVICES, Job Development,...",NaN,Second Career Employment Program,NaN,San Mateo County,active,Varies.,NaN,NaN
2,3,3,NaN,NaN,Phone for information (403-4300 Ext. 4322).,Older adults age 55 or over who can benefit fr...,Offers supportive counseling services to San M...,Resident of San Mateo County age 55 or over,NaN,None.,...,NaN,"Geriatric Counseling, Older Adults, Gay, Lesbi...",NaN,Senior Peer Counseling,NaN,San Mateo County,active,Varies.,NaN,NaN
3,4,4,NaN,NaN,Apply by phone.,"Parents, children, families with problems of c...",Provides supervised visitation services and a ...,None,NaN,"Vary according to income ($5-$90). Cash, check...",...,NaN,"INDIVIDUAL AND FAMILY DEVELOPMENT SERVICES, Gr...",NaN,Family Visitation Center,NaN,San Mateo County,active,No wait.,NaN,NaN
4,5,5,NaN,NaN,Phone for information.,Low-income working families with children tran...,Provides fixed 8% short term loans to eligible...,Eligibility: Low-income family with legal cust...,NaN,$60 application fee. Cash or checks accepted.,...,NaN,"COMMUNITY SERVICES, Speakers, Automobile Loans",NaN,Economic Self-Sufficiency Program,NaN,San Mateo County,active,NaN,NaN,NaN

In [31]:
#Que6
'''Both Series and DataFrame are mutable in nature, while Panel is considered to be deprecated and is no longer recommended to be used.

Mutability refers to the ability to modify the object after it has been created. Series and DataFrame objects can be modified by adding, deleting or modifying rows or columns, whereas Panel objects, when they were still available, could be modified by adding or deleting items.'''

'Both Series and DataFrame are mutable in nature, while Panel is considered to be deprecated and is no longer recommended to be used.\n\nMutability refers to the ability to modify the object after it has been created. Series and DataFrame objects can be modified by adding, deleting or modifying rows or columns, whereas Panel objects, when they were still available, could be modified by adding or deleting items.'

In [32]:
import pandas as pd

# create a DataFrame
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})

# modify an element
df.loc[0, 'A'] = 10
df.loc[1, 'B'] = 'amy'

In [33]:
df

    A    B
0  10    4
1   2  amy
2   3    6

In [34]:
#Que7
'''We can create a Pandas DataFrame using multiple Series. To create a DataFrame from multiple Series, we need to pass a dictionary where the keys represent the column names and the values represent the corresponding Series.'''

'We can create a Pandas DataFrame using multiple Series. To create a DataFrame from multiple Series, we need to pass a dictionary where the keys represent the column names and the values represent the corresponding Series.'

In [35]:
#creating Series
name=pd.Series(['Yash','Ayush','Sarthak'])
age=pd.Series([20,21,21])
branch=pd.Series(['CS','CS','CSIT'])

In [36]:
# create a dictionary with the Series
data={'Name':name, 'Age':age, 'Branch':branch}

In [37]:
# create a DataFrame from the dictionary
df=pd.DataFrame(data)

In [38]:
df

      Name  Age Branch
0     Yash   20     CS
1    Ayush   21     CS
2  Sarthak   21   CSIT