In [2]:
import pandas as pd
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})

In [3]:
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

In [6]:
#Que1
df.iloc[1]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

In [7]:
#Que2
#Both loc and iloc are used to access data in a Pandas DataFrame, but they differ in the way they select data.
#iloc is used to select data by integer location, i.e., the row and column indices. It takes two integer arguments: the row index and the column index, and returns the value at that location.
#loc, on the other hand, is used to select data by label, i.e., the row and column names. It takes two arguments: the row label and the column label, and returns the value at that location.
#In summary, iloc is used to select data by integer indices, while loc is used to select data by label names.

In [8]:
# example:
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6], 'C': [7, 8, 9]},
                  index=['x', 'y', 'z'])

In [9]:
df

   A  B  C
x  1  4  7
y  2  5  8
z  3  6  9

In [10]:
# element present in row index 1 and column index 2

df.iloc[1,2]

8

In [11]:
# element present in row 'y' and column 'C'
df.loc['y','C']

8

In [12]:
#Que3
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2, 3, 6, 4]

df = pd.DataFrame({'course_name': course_name, 'duration': duration})

In [13]:
re_index=[3,0,1,2]

In [14]:
new_df=df.reindex(re_index)

In [15]:
new_df

        course_name  duration
3     Data Engineer         4
0      Data Science         2
1  Machine Learning         3
2          Big Data         6

In [16]:
#new_df.loc[2] will return the row with label '2', which is the fourth row in the DataFrame
# new_df.loc[2]:

new_df.loc[2]

course_name    Big Data
duration              6
Name: 2, dtype: object

In [17]:
#new_df.iloc[2] will return the row with integer index 2, which is the third row in the DataFrame
# new_df.iloc[2]:

new_df.iloc[2]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

In [18]:
#Que4
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

In [19]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.521070  0.159599  0.173781  0.847407  0.167241  0.672682
2  0.482095  0.080318  0.572229  0.765231  0.307310  0.127554
3  0.016367  0.287178  0.384404  0.556369  0.047559  0.399898
4  0.156047  0.697400  0.969084  0.300397  0.189092  0.523075
5  0.933355  0.063036  0.246312  0.227322  0.335878  0.616540
6  0.808146  0.476685  0.887751  0.053520  0.083564  0.163162

In [20]:
# (i) mean of each and every column present in the dataframe.

df1.apply(lambda x:x.mean())

column_1    0.486180
column_2    0.294036
column_3    0.538927
column_4    0.458375
column_5    0.188441
column_6    0.417152
dtype: float64

In [21]:
#(ii) standard deviation of column, ‘column_2’

df1['column_2'].std()

0.25028766048397033

In [22]:
#Que5
df1.loc[2,'column_2']='string'

In [23]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.521070  0.159599  0.173781  0.847407  0.167241  0.672682
2  0.482095    string  0.572229  0.765231  0.307310  0.127554
3  0.016367  0.287178  0.384404  0.556369  0.047559  0.399898
4  0.156047    0.6974  0.969084  0.300397  0.189092  0.523075
5  0.933355  0.063036  0.246312  0.227322  0.335878  0.616540
6  0.808146  0.476685  0.887751  0.053520  0.083564  0.163162

In [24]:
df1['column_2'].std()

TypeError: could not convert string to float: 'string'

In [25]:
'''Reason:
When we try to calculate the mean of 'column_2' after replacing a value with a string, we will get a TypeError, because we cannot calculate the mean of a column that contains both numeric and non-numeric data.'''

"Reason:\nWhen we try to calculate the mean of 'column_2' after replacing a value with a string, we will get a TypeError, because we cannot calculate the mean of a column that contains both numeric and non-numeric data."

In [26]:
#Que6
'''In pandas, a window function (also known as a rolling or moving window) is a way of applying a function to a set of data points within a sliding window of fixed size. The window "slides" along the data, applying the function to each window of data points.

There are several types of window functions in pandas, including:

Rolling: This type of window function is used to apply a function to a rolling window of fixed size. The window size can be specified using the window parameter, and the function is applied to each window of data points. Some examples of rolling window functions include rolling.mean() and rolling.std().

Expanding: This type of window function is used to apply a function to a growing window of data. The function is applied to all data points up to and including the current point. Some examples of expanding window functions include expanding.mean() and expanding.std().

Window: This type of window function is a general-purpose function that can be used to apply any function to a rolling or expanding window of data. The window size and other parameters are specified using the window parameter, and the function to apply is specified using the func parameter.'''

'In pandas, a window function (also known as a rolling or moving window) is a way of applying a function to a set of data points within a sliding window of fixed size. The window "slides" along the data, applying the function to each window of data points.\n\nThere are several types of window functions in pandas, including:\n\nRolling: This type of window function is used to apply a function to a rolling window of fixed size. The window size can be specified using the window parameter, and the function is applied to each window of data points. Some examples of rolling window functions include rolling.mean() and rolling.std().\n\nExpanding: This type of window function is used to apply a function to a growing window of data. The function is applied to all data points up to and including the current point. Some examples of expanding window functions include expanding.mean() and expanding.std().\n\nWindow: This type of window function is a general-purpose function that can be used to apply any function to a rolling or expanding window of data. The window size and other parameters are specified using the window parameter, and the function to apply is specified using the func parameter.'

In [27]:
# create dataframe:
data = {'A': [1, 2, 3, 4, 5],
        'B': [10, 20, 30, 40, 50]}
df = pd.DataFrame(data)

In [28]:
df

   A   B
0  1  10
1  2  20
2  3  30
3  4  40
4  5  50

In [29]:
rolling_mean = df['B'].rolling(window=3).mean()
expanding_mean = df['B'].expanding().mean()

In [30]:
rolling_mean

0     NaN
1     NaN
2    20.0
3    30.0
4    40.0
Name: B, dtype: float64

In [31]:
expanding_mean

0    10.0
1    15.0
2    20.0
3    25.0
4    30.0
Name: B, dtype: float64

In [32]:
#Que7
# get current time:
curr_time=pd.Timestamp.now()

In [33]:
# Extract the year and month from the timestamp

year=curr_time.year
month=curr_time.month

In [34]:
print(f"It's {month}nd Month of Year: {year}")

It's 4nd Month of Year: 2023

In [37]:
#Que8
import pandas as pd

# Prompt the user to enter the dates
start_date_str = input("Enter the start date (YYYY-MM-DD): ")
end_date_str = input("Enter the end date (YYYY-MM-DD): ")

# Convert the input strings to Pandas datetime objects
start_date = pd.to_datetime(start_date_str)
end_date = pd.to_datetime(end_date_str)

# Calculate the time delta between the two dates
time_delta = end_date - start_date

# Extract the number of days, hours, and minutes from the time delta
days = time_delta.days
hours = time_delta.seconds // 3600
minutes = (time_delta.seconds // 60) % 60

# Display the result
print(f"The difference between {start_date_str} and {end_date_str} is {days} days, {hours} hours, and {minutes} minutes.")

Enter the start date (YYYY-MM-DD):  2022-01-01
Enter the end date (YYYY-MM-DD):  2022-01-03

The difference between 2022-01-01 and 2022-01-03 is 2 days, 0 hours, and 0 minutes.

In [38]:
#Que9
# sample input taken
df4=pd.DataFrame({
    'id':[1,2,3,4],
    'category':['B','A','C','A'],
    'value':[2,3,1,2]
})
df4

   id category  value
0   1        B      2
1   2        A      3
2   3        C      1
3   4        A      2

In [46]:
# enter file path
file_path= input("Enter the file path: ")

df=pd.read_csv(file_path)

# enter column name:
col_name=input("Enter the column name: ")

# enetr the category order:
cat_ord=input("Enter the categorical order(CSV): ").split(',')

# Convert the column to a categorical data type
df[col_name] = pd.Categorical(df[col_name], categories=cat_ord)

# sorting data accn to categorical column:
df=df.sort_values(col_name)

df

Enter the file path:  C:\Users\ASUS\Downloads\example.csv

FileNotFoundError: [Errno 2] No such file or directory: 'C:\\Users\\ASUS\\Downloads\\example.csv'

In [48]:
# sample data frame:
pd.read_csv("C:/Users/ASUS/Downloads/data.csv")

FileNotFoundError: [Errno 2] No such file or directory: 'C:/Users/ASUS/Downloads/data.csv'

In [49]:
#Que11
df_std=pd.DataFrame({
    'Student ID':[1,2,3,4,5,6,7,8,9,10],
    'Test Score':[85,90,80,75,85,82,78,85,90,85]
})

In [50]:
df_std.to_csv("student_data.csv",index=False)

In [51]:
pd.read_csv("student_data.csv")

   Student ID  Test Score
0           1          85
1           2          90
2           3          80
3           4          75
4           5          85
5           6          82
6           7          78
7           8          85
8           9          90
9          10          85

In [52]:
# enter file path
file_path= input("Enter the file path: ")

df=pd.read_csv(file_path)

mean=df['Test Score'].mean()
median=df['Test Score'].median()
mode=df['Test Score'].mode()[0]

df=pd.DataFrame({
    'Statistic':['Mean','Median','Mode'],
    'Value':[mean,median,mode]
})

df

Enter the file path:  student_data.csv

  Statistic  Value
0      Mean   83.5
1    Median   85.0
2      Mode   85.0